.titulo{
   color:black;
   cursor: pointer;
   
}    

.respu{
   display: flex;
   justify-items: center;
   margin-bottom: 20%;
   max-height: 0;
}
.imagenes{
   height: 300px;
   width: 300px;
}
.contenido{
   display:flex;
   justify-content: center;
}